.transaction-table-wrapper {
    display: flex;
    flex-direction: column;
    height: 85vh;

    h2 {
        margin: 0 0 var(--spacing-md) 0;
    }
}

.table-scroll {
    overflow-y: auto;
    flex: 1;
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius);
    padding: var(--spacing-md);
}